body,
html {
  font-family: "Inter", sans-serif;
  margin: 0;
}
main {
  padding: 50px;
  height: auto;
}
 section {
   height: 340px;
 }
 footer {
   min-height: 368px;
 }
 .container {
   width: 100%;
   margin: 1em auto;
   height: inherit;
   min-height: inherit;
 }
.product-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center center;
}
.product-price-block {
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
    align-items: center;
  }
 .product-card {
    background-color: #f0f0f0;
    border-radius: 14px;
    max-width: auto;
    overflow: hidden;
 }
 .product-info {
    padding: 20px;
    box-sizing: border-box;
 }
 .product-title {
    font-size: medium;
    font-weight: bold;
    word-wrap: break-word;
    display:block;
    line-height: 22px;   
 }
 .product-description {
    font-size: small;
    font-weight: 200;
    margin-bottom: 6px;
 }
 .product-tax-policy {
    font-size: smaller;
    font-weight: 100;
 }
 .product-price-block .price {
    font-size: 22px;
    font-weight: 700;
    flex: 1;
  }
  .product-price-block .discount {
    font-size: 12px;
    font-weight: 700;
    color: #428f13;
  }
/* Bloque de productos */
.product-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 20px;
}
.product-container a {
  text-decoration: none;
  color: initial;
}
/* Card de producto */
.product-card {
   background-color: #f0f0f0;
   border-radius: 14px;
   width: auto;
}
/* Hero section */
section#hero {
  display:flex;
  background:url("../assets/hero_bg.png");
  background-size: cover;
  background-position: top;
  align-items: center;
  justify-content: space-around;
 }
section#hero .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.title-container span {
  display: block;
  color: white;
  font-weight: 700;
 }
 .title-container span:first-child {
   font-size: 40px;
 }
 .title-container span:last-child {
   font-size: 100px;
   line-height: 80px;
 }
 header {
  background-color: #ff3b3c; /* Ejemplo de color */
  padding-top: 2%;
}
.search {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search .form {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.search .form input {
  border-radius: 14px;
  border: none;
  width: 80vb;
  padding: 20px;
  box-sizing: border-box;
}
.search .social ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.search .social ul li {
  padding: 0 10px;
}
.nav {
  padding: 10px 0;
}
.nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav ul li a {
  color: white;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}
.nav ul li a:hover {
  text-decoration: underline;
}
footer {
  /* Hexadecimal color code*/
  min-height: 368px;
  background-color: #7525a7;
}
footer .container {
  display: flex;
  flex-direction: column;
}
.columns-container {
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.columns-container .col ul {
  list-style-type: none;
  padding: 0;
}
.columns-container .col ul li {
  padding: 5px 0;
}
.columns-container .col ul li.col-main-item {
  font-weight: bold;
  padding-bottom: 20px;
}
.columns-container .col ul li a {
  color: white;
  text-decoration: none;
}
.copyright {
  border-top: 1px solid #ba53fb;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 30px 0;
  box-sizing: border-box;
}

/* vista tableta */
@media(max-width:768px){
.product-container{
   grid-template-columns: repeat(2, 1fr);   
}
.search .form input {
  width: 300px;
}
.container{
  width: 100%;
}
}
/* vista de telefono */
@media(max-width:425px){
  .product-container{
    grid-template-columns: repeat(1, 1fr);   
 }
 .search .form input {
   width: 100px;
 }
 .container{
   width: 100%;
 }
 .title-container span:first-child {
  font-size: 30px;
}
.title-container span:last-child {
  font-size: 80px;
  line-height: 80px;
} 
}

 

 
